*.*.swp
__pycache__/
*.py[cod]

# Project python management
.python-version

# ipython checkpoints
.ipynb_checkpoints/

# checkpoints
ckpts/
*.ckpt*
*.pbtxt

# dataset
*.wav
data/*
speech_dataset/

# outputs
output/
output*
eval_output.csv
