*.*.swp
__pycache__/
*.py[cod]

# Project python management
.python-version

# ipython checkpoinits
.ipynb_checkpoints/

# checkpoints
ckpts/
*.ckpt*
*.pbtxt

# frozen graph
frozen_graph/

# dataset
*.wav
data/*
speech_dataset/
